@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-on-surface: #e2e2e2;
  --color-primary-container: #0071e3;
}

html {
  background-color: #000000;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-surface);
  -webkit-font-smoothing: antialiased;
}

/* Custom Utilities */
.glass-card {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.hide-scrollbar {
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
